

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFCF56;
  position: relative; 
  overflow: visible; 
  margin: 0;
}

.header > :nth-child(2) {
  position: right;
  left: 50%;
  transform: translateX(-50%);
  top: 50%; 
  transform: translate(-50%, -50%); 
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

div g:first-child, g:nth-child(1), g:nth-child(6) , g:nth-child(3), g:nth-child(4), g:nth-child(5), g:nth-child(7),
 g:nth-child(8), g:nth-child(9), g:nth-child(10), g:nth-child(2),
 #char2 {
  animation: float 4s ease-in-out infinite;
}

@font-face {
  font-family: 'Slabien';
  src: url('/fonts/slabien.woff2') format('woff2'),
       url('/fonts/slabien.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 36px;
  font-family: 'Slabien', serif;
}

.section-title{
  color: #538098;
  background-color: #BF9A3C;
}



.green {
  color: #0B5837;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}